/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 374px) {
	#landing_title h1 {
		font-size: 15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
	ul {
		margin-top: 20px;
	}
	/*nav bar right side listing seciton */
	.nav_menus a {
		color: black;	
		font-size: 18px;
	}
	.nav li a:hover {
		color: orange;	
		background-color: white;
	}
	.nav li a:focus {
		color: orange;	
		background-color: white;
	}
	/*nav bar brand icon [] */
	#brand_icon {
		color: orange;
		font-size: 33px;
	}
	
	/*nav bar brand section */
	.navbar-default .navbar-brand {
		font-size: 20px;
		color: black;
		margin-top: 20px;
	}
	.navbar-default .navbar-brand:hover {
		color: orange;
	}
	/*navbar container*/
	.navbar-default {
		background-color: white;
		margin-left: 50px;
		margin-right: 50px;
		border: none;
	}

	/*Landing page heading*/
	#landing_title h1 {
		text-align: center;
		font-size: 75px;
		margin-top: 140px;
	}
	#title_icon {
		color: orange;
		font-size: 90px;
	}
	#landing_title p {
		text-align: right;
		font-size: 30px;
		color: orange;
		margin-right: 85px;
	}
	/*arry color secion2*/
	.array_color {
		color: orange;
	}
	/*equal sign project section */
	.orange_section {
		color: orange;
		font-size: 40px;
		display: inline-block;
		width: 150px;
		margin-left: 30px;
		text-align: center;
	}
	.array_section {
		display: inline-block;
		font-size: 18px;
	}
	#project_section {
		margin-top: 250px;
		height: 600px;
	}
	.project_links {
		display: inline-block;
		margin-left: 13%;
	}
	.project_description {
		margin-left: 13%;
		font-size: 11px;
	}

	#project_section ul li {
		list-style: none;
		margin-top: 65px;
	}

	#project_section ul li a {
		text-decoration: none;
		color: grey;
		font-size: 22px;
		text-decoration: underline;
	}
	#project_section ul li a:hover {
		color: orange;
		font-size: 23px;
		text-decoration: underline;
	}
		#project_section ul li a:active {
		font-size: 22px;
		text-decoration: underline;
	}
}


